
.navbar-dark .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-dark .navbar-brand img {
    margin-right: 10px;
  }
  
  .navbar-dark .navbar-toggler {
    border: none;
  }
  
  @media (max-width: 768px) {
    .navbar-dark .navbar-collapse {
      background-color: #343a40;
    }
  
    .navbar-dark .navbar-nav {
      text-align: center;
    }
  }
  